[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "private"]
	path = private
	url = keybase://private/weslly/dotfiles
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "zsh/plugins/z"]
	path = zsh/plugins/z
	url = https://github.com/knu/z
