extends javascript, html

snippet	cl "console.log()" w
console.log($1)
endsnippet

snippet	each ".each()" w
each(function() {
  $1
});
endsnippet

snippet	ready "jQuery .ready()"
jQuery(document).ready(function($) {
  $1
});
endsnippet
