extends javascript, html

snippet	fun "function ()" w
function ${1:function_name} (${2:argument}) {
  $3
}
endsnippet

snippet	cl "console.log()" w
console.log($1)
endsnippet

snippet	for "for (let i in items)" w
for (let ${1:i} in ${2:items}) {
  $3
}
endsnippet

snippet	fore ".forEach()" w
forEach((item) => {
  $1
});
endsnippet

snippet	ready "jQuery .ready()"
jQuery(document).ready(function($) {
  $1
});
endsnippet
