extends php, html, php.wordpress

snippet php "<?php ?>" w
<?php $1 ?>
endsnippet

snippet ?p "<?php ?>" w
<?php $1 ?>
endsnippet

snippet pe "<?= ?>" w
<?= $1 ?>
endsnippet

snippet	?> "Break PHP"
?>
$1
<?php
endsnippet

snippet else
<?php else: ?>
endsnippet

snippet mob
ob_start(); ?>
$2
<?php
$markup['$1'] = ob_get_clean();
endsnippet
